.App {
  text-align: center;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 400px;
}
input{
  display: block;
  margin: 10px;
  width: 300px;
}